[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
protobuf = "*"
elasticsearch = "*"
delorean = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"

[dev-packages]
yapf = "*"
"fabric3" = "*"

[requires]
python_version = "3.6"
